body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(200,100,50,0.7);
    color: rgba(255,255,255,0.6);
}

header, footer {
    text-align: center;
    padding: 20px;
    background: #333;
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 75px;
    width: 100px;
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(255,0,0,0.7);
    box-shadow: 0px 0px 40px rgba(255,0,55,0.6);
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 20px;
    transition: border-color 0.4s ease-in-out, 
    background-color 0.4s ease-in-out, 
    box-shadow 0.4s ease-in-out;
}

.circles {
    border-radius: 50%;
}

div:hover {
    border-color: rgba(255,0,0,0.6);
    background-color: rgba(170,0,0,0.3);
    box-shadow: 0px 0px 0px rgba(195,0,195,0.7);
}

.circles {
    background: rgba(0,0,0,0.9);
    border-radius: 50%;
    box-shadow: 0px 0px 40px red;
}

.circle1 {
    transition: border-color 0.4s ease-in-out, 
    background-color 0.4s ease-in-out, 
    width 500px 1s ease,
    box-shadow 0.4s ease-in-out,
    transform 0.7s ease-in-out;
}

.circle1:hover {
    border-color: rgba(255,190,0,0.6);
    background-color: rgba(0,190,255,0.9);
    box-shadow: white;
    transform: translateX(-20px);
}

.circle2 {
    transition: border-color 0.4s ease-in-out, 
    background-color 0.4s ease-in-out, 
    width 500px 1s ease,
    box-shadow 0.4s ease-in-out;
    
}

.circle2:hover {
    border-color: rgba(255,0,150,0.8);
    background-color: rgba(255,0,0,0.5);
    box-shadow: 0 10px 20px blue;
}

.circle3 {
    transition: width 5s ease,
    height 5s ease,
    background-color 5s ease,
    box-shadow 5s ease,
    border-color 5s ease;
}

.circle3:hover {
    width: 25px;
    height: 25px;
    background-color: green;
    border-color: lime;
    box-shadow: yellow;
}

.circle4 {
 transition: border-color 10s ease-in-out, 
    background-color 10s ease-in-out,
    width 10s ease,
    height 10s ease,
    box-shadow 10s ease-in-out;
}

.circle4:hover {
     border-color: blue;
     background-color: white;
     width: 1000px;
     height: 1000px;
     box-shadow: 0px 0px 30px rgba(255,255,255,0.9)
}

.circle5 {
    background-color: slateblue;
    transition: transform 0.6s ease-in-out;
}

.circle5:hover {
    transform: scale(1.5);
}

.circle6 {
    transition: width 1s ease,
    height 1s ease,
    box-shadow 0.5s ease-in-out;
}

.circle6:hover {
    width: 150px;
    height: 50px;
    box-shadow: 0px 0px 150px rgba()
}

.circle7 {
    background: violet;
    border: 3px solid yellow;
    transition: width 0.7s ease;
}

.circle7:hover {
    width: 20px;
}

.circle8 {
    background: rgba(0,119,120,0.8);
    border: 5px solid white;
    transition: box-shadow 0.7s ease,
}

.circle8:hover {
    background: black;
    box-shadow: 0 0 40px rgba(0,0,255,0.9);
}

.circle9 {
    transition: border-color 1s ease,
    width 1s ease-in-out,
    height 1s ease-in;
}

.circle9:hover {
    border-color: rgba(155,155,139,0.4);
    border: 10px rgba(50,169,78,0.8);
    background-color: crimson;
    width: 200px;
    height: 200px;
}

.circle10 {
    border: 3px solid whitesmoke;
    transition: background-color 3s ease,
    border-color 3s ease-out,
    height 3s ease,
    width 3s ease;
}

.circle10:hover {
    background-color: darkred;
    border-color: blue;
    height: 10px;
    width: 10px;
}

.circle11 {
    transition: width 3s ease,
    height 3s ease,
    border-radius 3s ease-in-out,
    border-color 3s ease,
    background-color 1s ease;
}

.circle11:hover {
    width: 300px;
    height: 300px;
    border-radius: 0%;
    border-color: violet;
    background-color: darkred;
}

.circle12 {
    transition: border-color 5s ease,
    background-color 5s ease,
    border-radius 5s ease;
}

.circle12:hover {
    border-color: solid white;
    background-color: lightblue;
    border-radius: 25%;
}

.circle13 {
    transition: 
}

.circle13:hover {

}

.circle14 {
    transition:
}

.circle14:hover {

}

.circle15 {
    transition:
}

.circle15:hover {

}

.circle16 {
    transition: 
}

.circle16:hover {
    
}

.circle17 {
    transition:
}

.circle17:hover {

}

.circle18 {
    transition:
}

.circle18:hover {

}

.circle19 {
    transition: 
}

.circle19:hover {

}

.circle20 {
    transition: 
}

.circle20:hover {

}